.homepage {
  text-align: start;

  &__oneliner {
    font-family: AmaticSC, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    word-spacing: 0.6rem;
    font-weight: bold;
    padding: 1rem;
    line-height: normal;
    text-align: center;

    border: 1rem dotted #9dc0bc;
    border-radius: 2rem;
  }

  &__section {
    position: relative;
    display: flex;
    gap: 1.5rem;
    padding: 2rem 2rem;

    &-content {
      margin: auto 0;
    }

    &--reverse {
      background-color: rgb(220, 220, 220);

      flex-direction: row-reverse;
      text-align: end;
    }
  }

  &__buttongroup {
    display: flex;
    gap: 0.25rem;

    &--reverse {
      justify-content: end;
    }
  }

  &__blockquote {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f9f9f9;
    border-left: 1ch solid #ccc;
    padding: 1rem 1rem;
    margin: 1rem;

    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4rem;
      line-height: 0.1rem;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    .quote {
      font-size: larger;
      font-weight: bolder;
      line-height: 1.5rem;
    }

    .author {
      font-size: medium;
    }
  }
}

.image {
  width: min(50ch, 50vw);
  border: solid 0.25rem #7c7287;
  border-radius: 1rem;
  box-sizing: border-box;
  margin: auto;
}

.separator {
  width: 0;
  height: 0;

  &--before {
    border-right: min(1024px, 100vw - 3rem) solid transparent;
    border-bottom: 5rem solid rgb(220, 220, 220);
    margin-top: 3rem;
  }

  &--after {
    border-left: min(1024px, 100vw - 3rem) solid transparent;
    border-top: 5rem solid rgb(220, 220, 220);
    margin-bottom: 3rem;
  }
}

@media (max-width: 1024px) {
  .homepage {
    &__oneliner {
      font-size: 2rem;
    }

    &__section {
      flex-wrap: wrap;
      padding: 2rem 0;

      &-content {
        margin: auto;
        text-align: center;
      }

      &--reverse {
        margin: 0 -1.5rem;
        padding: 2rem 1.5rem;
      }
    }

    &__buttongroup {
      display: flex;
      justify-content: center;
    }
  }

  .image {
    width: min(50ch, 100%);
  }

  .separator {
    display: none;
  }
}
